/* Archivo styles.css */
.step-1, .step-3 {
    height: 30rem;
  }
  
  .step-2 {
    height: 40rem;
  }
  
  .step-4 {
    height: 46rem;
  }

  @media (max-width: 1024px) {
  
    .step-2 {
      height: 105rem;
    }

    .step-4 {
      height: 60rem;
    }
  }
  
  @media (max-width: 768px) {
    .step-1{
      height: 60rem; 
    }
  
    .step-2 {
      height: 115rem;
    }
    .step-3 {
    height: 35rem;
        }
    .step-4 {
      height: 92rem;
    }
  }
  