.loader {
    border: 4px solid rgba(255, 255, 255, 0.2); 
    border-top: 4px solid white; 
    border-radius: 50%;
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    animation: spin 1s linear infinite;
  }
  
  /* Definición de la animación */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  